footer: section.light
  row: column.medium-10.large-8.col-centered
    box: p.text-large Would you like to suggest a new endpoint to be implemented?<br/>Don't hesitate to <a class="dark" href="mailto:apis@apis.is">contact us</a>, or contribute to our <a class="dark" href="https://github.com/kristjanmik/apis" target="_blank">github repo</a>.
